extends ./layout/index

block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            div.col-md-7
                h1 #{nombrePagina}
                blockquote Praesent pharetra sem ac massa dictum efficitur. Fusce et aliquet ipsum. Donec varius velit eu lectus pretium pharetra. Cras arcu est, placerat eget vulputate vel, congue quis quam. Etiam dictum nunc a nibh pellentesque, ac dignissim enim ultrices. Nullam consequat ipsum odio, ac eleifend eros pretium quis. Mauris tincidunt, ante sit amet tempus interdum, mi lorem maximus ligula, a pharetra purus mauris quis lectus. Suspendisse pellentesque arcu a mi scelerisque blandit. 
                p Vestibulum tristique sed urna vitae pretium. Aliquam ligula nisi, tristique in eleifend in, lacinia quis elit. Duis dictum pellentesque diam, id fermentum quam posuere ac. Fusce in vehicula quam. Vestibulum a libero mi. Aenean non vehicula mauris, vulputate tincidunt ante. Nam semper mi dolor, nec fringilla erat pellentesque eget. Quisque sed turpis fringilla, congue risus vel, fermentum ante. Donec risus mauris, interdum ut ante ac, gravida eleifend justo. Duis blandit sapien id tempor semper. Donec sed sem eu nisl mollis blandit id et nulla. Praesent id tellus augue. Curabitur imperdiet orci sit amet condimentum tincidunt. Curabitur tempus hendrerit ligula, non eleifend justo efficitur eu. Integer interdum maximus dolor, eu sagittis lectus blandit quis. 
                p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras quis efficitur massa. Maecenas mi eros, commodo vitae vulputate vitae, vulputate et nunc. Sed purus erat, congue suscipit porttitor sed, molestie vel diam. Nunc vitae ligula congue nunc maximus gravida ut eu neque. Fusce euismod, nibh sit amet congue vehicula, orci diam volutpat nulla, a ornare tellus neque et ante. Suspendisse mattis posuere lacus congue condimentum. Sed volutpat purus sed felis tempor, quis congue orci venenatis. Sed nec mi eleifend, semper magna bibendum, ultricies tortor. Sed quis justo nec neque rutrum congue. Maecenas sit amet ex eu quam posuere facilisis. Etiam non lorem a nisl facilisis lobortis.
    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Sed nec mi eleifend, semper magna bibendum, ultricies tortor. Sed quis justo nec neque rutrum congue. Maecenas sit amet ex eu quam posuere facilisis. Etiam non lorem a nisl facilisis lobortis.
                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Sed nec mi eleifend, semper magna bibendum, ultricies tortor. Sed quis justo nec neque rutrum congue. Maecenas sit amet ex eu quam posuere facilisis. Etiam non lorem a nisl facilisis lobortis.
                div.col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Sed nec mi eleifend, semper magna bibendum, ultricies tortor. Sed quis justo nec neque rutrum congue. Maecenas sit amet ex eu quam posuere facilisis. Etiam non lorem a nisl facilisis lobortis.